@import url('https://raw.githack.com/hormelcookies/dark-discord/hormelcookies-patch-1/src/source.css');
@import url('https://tropix126.github.io/BetterDiscordStuff/materialcons/base.css');

.theme-dark,
.theme-light,
:root {
    --background-primary: #1a2026 !important;
    --background-secondary: #29343d !important;
    --background-secondary-alt: #3b4b58 !important;
    --background-tertiary: #161d23 !important;
    --background-accent: #1d252b !important;
    --background-floating: black !important;
    --background-modifier-hover: rgba(255, 255, 255, 0.01) !important;
    --background-modifier-active: rgba(255, 255, 255, 0.03) !important;
    --background-modifier-selected: rgba(255, 255, 255, 0.04) !important;
    --background-modifier-accent: hsla(0, 0%, 100%, 0.06) !important;
    --channeltextarea-background: var(--background-accent) !important;
    --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
    --deprecated-card-editable-bg: rgba(0, 0, 0, 0.1) !important;
    --deprecated-text-input-bg: var(--deprecated-card-editable-bg) !important;
    --deprecated-text-input-border: var(--background-floating) !important;
    --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
    --activity-card-background: var(--background-primary) !important;
    --channels-default: #9f9f9f !important;
    --text-muted: #b6b6b6 !important;
    --text-normal: #fbfbfb !important;
    --interactive-normal: #c8c8c8 !important;
    --interactive-hover: #dcddde !important;
    --interactive-active: #fff !important;
    --interactive-muted: #747474 !important;
    --header-primary: white !important;
    --header-secondary: #c9c9c9 !important;
    --toast-background: var(--background-primary) !important;
    --toast-header: var(--background-tertiary) !important;
    --toast-contents: var(--background-secondary) !important;
    --toast-box-shadow: rgba(0, 0, 0, 0.2) !important;
    --toast-border: var(--background-tertiary) !important;
    --background-message-hover: transparent;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    width:5px !important;
}
::-webkit-scrollbar-thumb {
    background: var(--background-primary) !important;
    width:5px !important;
    border:none !important;
    border-radius: 2px !important;
}

.searchBar-3dMhjb {
    width: 28px;
    transition: width 0.1s ease-in-out;
}

.scroller-2TZvBN{
    border-width: 3px;
}

.sidebar-2K8pFh{
  width: 0px;
  transition: 0.6s ease;
  position: fixed;
  height: calc(100% - 47.988px);
  z-index: 1;
  bottom: 0px;
}
.wrapper-3NnKdC:hover+.base-3dtUhz>.content-98HsJk>.sidebar-2K8pFh{
  width:240px;
}
.sidebar-2K8pFh:hover{
  width:240px;
}

.messageContent-2qWWxC:not(.repliedTextContent-1R3vnK), .embedFull-2tM8--, .wrapper-35wsBm,
.message-2qnXI6 .imageWrapper-2p5ogY,
.repliedMessage-VokQwo {
    background-color: var(--background-secondary);
    font-weight: 500;
    margin-left: 0 !important;
    margin-top: 4px !important;
    padding-left: 0 !important;
    padding: 8px 12px !important;
    border-radius: 16px;
    border-top-left-radius: 0 !important;
    width: max-content;
    max-width: 80%;
    box-shadow: var(--elevation-low);
    overflow: visible !important;
    box-sizing: border-box;
}
.message-2qnXI6 .imageWrapper-2p5ogY {
    padding: 0 !important;
    max-width: 100% !important;
    overflow: hidden !important;
}
.message-2qnXI6:hover .messageContent-2qWWxC, .message-2qnXI6:hover .embedFull-2tM8--, .message-2qnXI6:hover .wrapper-35wsBm,
.message-2qnXI6:hover .imageWrapper-2p5ogY {
    box-shadow: var(--elevation-medium) !important;
}
.systemMessage-1I9LCe .messageContent-2qWWxC {
    border-top-left-radius: 16px !important;
}
.message-2qnXI6 .wrapper-35wsBm { /* Invited to Server box */
    padding: 14px 12px !important;
    width: 432px !important;
    background-color: var(--background-secondary);
}
.theme-dark .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK), .theme-dark .embedFull-2tM8-- {
    background-color: var(--background-secondary);
    font-weight: 400;
}

.message-2qnXI6 {
    background: none !important;
}
.message-2qnXI6::before {
    content: unset !important;
}
.message-2qnXI6.selected-2P5D_Z .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK),
.message-2qnXI6.selected-2P5D_Z .embedFull-2tM8-- {
    background-color: var(--background-tertiary) !important;
}
.message-2qnXI6.mentioned-xhSam7 .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK) {
    background-color: var(--background-mentioned) !important;
    border-left: 2px solid #faa61a;
}
[data-author-id="248990650429734912"] .username-1A8OIy::before {
    content: "Cute " /*  i  g  n  o  r  e  :)  */
}

.theme-dark .message-2qnXI6.selected-2P5D_Z .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK),
.theme-dark .message-2qnXI6.selected-2P5D_Z .embedFull-2tM8-- {
    background-color: var(--background-secondary-alt) !important;
}
.embedFull-2tM8-- {
    max-width: 520px;
    width: 100%;
}
.embedFull-2tM8-- .grid-1nZz7S {
    padding: 0 4px;
    padding-bottom: 8px;
}
.messageContent-2qWWxC:not(.repliedTextContent-1R3vnK) pre {
    max-width: 100%;
}
.messageContent-2qWWxC:not(.repliedTextContent-1R3vnK) pre code {
    background-color: var(--background-tertiary);
    border-radius: 0;
    border-radius: 16px;
    border-top-left-radius: 0 !important;
}

/* Replies */
.repliedMessage-VokQwo {
    border-bottom-left-radius: 0 !important;
    margin-bottom: -4px !important;
    background-color: var(--background-secondary-alt);
}
.repliedMessage-VokQwo::before {
    content: unset !important;
}
.repliedMessage-VokQwo ~ .contents-2mQqc9 > .messageContent-2qWWxC:first-of-type {
    border-top-right-radius: 0;
}
.repliedMessage-VokQwo, .repliedMessage-VokQwo ~ .contents-2mQqc9 > .messageContent-2qWWxC:first-of-type {
    width: 60% !important;
    width: clamp(500px, 100%, 600px) !important;
}
/* Cover reply border radius */
.repliedMessage-VokQwo ~ .contents-2mQqc9 > .messageContent-2qWWxC:first-of-type::before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 16px;
    height: 16px;
    background-color: var(--background-secondary-alt);
    border-top-left-radius: 100%;
}
/* .message-2qnXI6, .message-2DieIs { */
.cozy-3raOZG.wrapper-2a6GCs {
    display: flex;
    flex-direction: column;
}
.contents-2mQqc9 {
    display: contents;
}
.contents-2mQqc9 .header-23xsNx {
    order: -1;
}
.contents-2mQqc9 > span {
    order: -1;
}
